.flashing {
  animation-name: flash;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 1s;
};

@keyframes flash {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
};
